<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!-- Add your custom settings here -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="0Harmony" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BepInEx" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.22.0" newVersion="5.4.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MonoMod.Utils" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.9.19.1" newVersion="21.9.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
