<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JotunnLib" version="2.30.0" targetFramework="net481" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Pfhoenix.Valheim.ModProjectReferences" version="1.0.23" targetFramework="net481" />
</packages>
